{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Formularz Rejestracyjny{% endblock %}

{% block body %}
    <h2>Formularz Rejestracyjny</h2>
    {{ form_start(form) }}
        {{ form_row(form.imie) }}
        {{ form_row(form.nazwisko) }}
        {{ form_row(form.email) }}
        {{ form_row(form.opis) }}
        {{ form_row(form.stanowisko) }}

        {# Dodatkowe pola w zależności od stanowiska #}
        {% if form.stanowisko.vars.value == 'tester' %}
            {{ form_row(form.systemy_testujace) }}
            {{ form_row(form.systemy_raportowe_tester) }}
            {{ form_row(form.zna_selenium) }}
        {% elseif form.stanowisko.vars.value == 'developer' %}
            {{ form_row(form.srodowiska_ide) }}
            {{ form_row(form.jezyki_programowania) }}
            {{ form_row(form.zna_mysql) }}
        {% elseif form.stanowisko.vars.value == 'project_manager' %}
            {{ form_row(form.metodologie_prowadzenia_projektow) }}
            {{ form_row(form.systemy_raportowe_pm) }}
            {{ form_row(form.zna_scrum) }}
        {% endif %}

        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
